body{
    background: rgb(203, 231, 233);
    font-family: 'montserrat',sans-serif;

}

p{
    font-size:.9em;
    line-height:1.6em;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.container{
    text-align:center;
    padding:.8em 1.2em;
}
.logo{
width:130px; 
}
.hide-mobile{
    display:none;
}
header{
    display:flex;
    justify-content: space-between;
}
.menue{
    width:25px;
    margin-top:45%;
}
.server {/* picture needs to be */
width: 100%;
height: 600px;

}
h1, .subhead{
    position:relative;
    z-index:3;
}
.subhead{
    font-size:1.1em;
}
.icons{
    display: flex;
    align-items: center;
    justify-items: center;
    width:100%;
    background:turquoise;
    color:red;
    margin-top:15%;
}
.blue-container ul li {
    margin-bottom:3em;
}
.blue-container ul li p {
    padding:0.5em;
}
.blue-container img {
    width:14%;
}